.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newTaskForm {
  position: relative;
  height: 54px;
  width: 100%;
  max-width: 736px;
  display: flex;
  gap: 8px;
  padding: 0 1rem;
}

.newTaskForm input {
  height: 100%;
  flex: 1;
  color: #fff;
  background: #262626;
  border: 1px solid #0D0D0D;
  border-radius: 8px;
  padding: 0 36px;
  font-size: 16px;
}

.newTaskForm input::placeholder {
  color: #808080;
}

